{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Registration
{% endblock %}

{% block content %}
<br><br>
<main class="form-signin w-100 m-auto">

	  <div>
		  <style>
			  h5{
			  	color: red;
			  }
		  </style>
		  {% for message in messages %}
		  <h5>{{message}}</h5>
		  {% endfor %}
	  </div>

	  <form style="width: 50%; margin: 0 auto;" method="POST">
		  {% csrf_token %}
		  {{ form }}
	    <h1 class="h3 mb-3 fw-normal">Create account</h1>
	    <div class="form-floating">
	      <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
	      <label for="floatingInput">Email address</label>
	    </div>
	    <div class="form-floating">
			<input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
			<label for="floatingPassword">Password</label>
		</div>
	    <div class="form-floating">
	      <input type="password" class="form-control" id="floatingPassword" name="password2" placeholder="Password">
	      <label for="floatingPassword">Repeat the password</label>
	    </div>
	    <div class="form-floating">
		    <input type="text" class="form-control" id="floatingInput" name="given_name" placeholder="Given Name">
		    <label for="floatingInput">Given Name</label>
	    </div>
	    <div class="form-floating">
		    <input type="text" class="form-control" id="floatingInput" name="surname" placeholder="Surname">
		    <label for="floatingInput">Surname</label>
	    </div>
	    <div class="form-floating">
		    <input type="text" class="form-control" id="floatingInput" name="phone_number" placeholder="Phone Number">
		    <label for="floatingInput">Phone Number</label>
	    </div>
	    <div class="col-md-5">
              <label for="a1" class="form-label">Pick your role</label>
              <select class="form-select" id="a1" name="profile_description" required="">
                <option value="">Choose...</option>
                <option value="Member">Member</option>
			    <option value="Caregiver">Caregiver</option>
              </select>
              <div class="invalid-feedback">
                Please select your role.
              </div>
            </div>
	    <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
	    <p class="mt-5 mb-3 text-body-secondary"><a href="/login">Login page</a></p>
	  </form>
</main>
{% endblock %}